/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Ionic Variables and Theming. */
:root {
  /* Primary */
  --ion-color-primary: #3b82f6;
  --ion-color-primary-rgb: 59, 130, 246;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3470e0;
  --ion-color-primary-tint: #4f8ff7;

  /* Secondary */
  --ion-color-secondary: #64748b;
  --ion-color-secondary-rgb: 100, 116, 139;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #586573;
  --ion-color-secondary-tint: #748497;

  /* Tertiary */
  --ion-color-tertiary: #a855f7;
  --ion-color-tertiary-rgb: 168, 85, 247;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #944bd9;
  --ion-color-tertiary-tint: #b166f8;

  /* Success */
  --ion-color-success: #10b981;
  --ion-color-success-rgb: 16, 185, 129;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ea372;
  --ion-color-success-tint: #28c88e;

  /* Warning */
  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d8850a;
  --ion-color-warning-tint: #f6a824;

  /* Danger */
  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  /* Light */
  --ion-color-light: #f8fafc;
  --ion-color-light-rgb: 248, 250, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadbdd;
  --ion-color-light-tint: #f9fbfc;

  /* Medium */
  --ion-color-medium: #6b7280;
  --ion-color-medium-rgb: 107, 114, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5e6471;
  --ion-color-medium-tint: #7a818d;

  /* Dark */
  --ion-color-dark: #1f2937;
  --ion-color-dark-rgb: 31, 41, 55;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1b2431;
  --ion-color-dark-tint: #353c4b;
}
